@{
    ViewData["Title"] = "Home Page";
}

<div class=" hero">
    <div class="row align-items-center g-lg-5 py-5 m-auto hero-content">
        <div class="col-lg-6 col-md-6 text-center text-lg-start m-5">
            <h1 class="display-6 lh-1 mb-3 hero-title">Unlock Team Adventures: Building Bonds, One Excursion at a Time. Discover, Bond, and Thrive with Every Corporate Expedition!</h1>
            <p class="col-lg-10 fs-5 text-black-50 mt-5">See what's new at your company</p>
            <div class="d-grid gap-2 col-3">
                <button class="btn btn-primary border-0 text-white fs-6 fw-bold hero-button" type="button">Discover</button>
            </div>
        </div>
        <div class="col-md-5 mx-auto col-lg-5 hero-img-container p-0">
            <div class="row m-0 hero-block-blue"></div>
            <div class="row m-0 hero-block-red"></div>
            <img src="/assets/hero-img.png" class="img-fluid hero-img"/>
        </div>
    </div>
</div>

<script src="/js/navigation.js">

</script>