<div class="m-0">
    <footer class="row row-cols-1 row-cols-sm-1 row-cols-md-5 mx-auto footer-darkgray fs-6">

        <div class="col footer-lightgray">
        </div>

        <div class="col p-5 bg-white">
            <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none logo">
                Talpa
            </a>

        </div>

        <div class="col p-5 footer-lightgray fs-6">
            <h5 class="">Legal</h5>
            <ul class="nav flex-column">
                <li class="nav-item "><a href="#" class="nav-link p-0 text-muted fs-6">Privacy Policy</a></li>
            </ul>
        </div>

        <div class="col p-5 footer-lightgray">
            <h5>Social</h5>
            <ul class="nav flex-column fs-6">
                <li class="nav-item"><a href="#" class="nav-link p-0 text-muted fs-6">Facebook</a></li>
                <li class="nav-item"><a href="#" class="nav-link p-0 text-muted fs-6">Twitter</a></li>
                <li class="nav-item"><a href="#" class="nav-link p-0 text-muted fs-6">Instagram</a></li>

            </ul>
        </div>

        <div class="col p-5 footer-darkgray">
            <h5>More</h5>
            <ul class="nav flex-column fs-6">
                <li class="nav-item"><a href="#" class="nav-link p-0 text-muted fs-6">Concact us</a></li>
            </ul>
        </div>





    </footer>
</div>

