:root {
    --text: #020302;
    --background: #f9fbf9;
    --primary: #e11937;
    --secondary: #5136ab;
    --accent: #200a57;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo {
    color: var(--primary);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

    .logo:hover {
        color: var(--primary);
    }

.navbar-nav {
    padding: .15rem;
    margin-left: 2rem;
}


.nav-link {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    margin: .5rem 0 0 .5rem;
}

.lang-control button{
    border: none;
    outline: none;
    
}