:root {
    --text: #020302;
    --background: #f9fbf9;
    --primary: #e11937;
    --secondary: #5136ab;
    --accent: #200a57;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Nabvar*/

.logo {
    color: var(--primary);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

    .logo:hover {
        color: var(--primary);
    }

.navbar-nav {
    padding: .15rem;
    margin-left: 2rem;
}


.nav-link {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    margin: .5rem 0 0 .5rem;
}

.lang-control button{
    border: none;
    outline: none;
    
}

/*Hero*/

.hero{
    border: 1px solid red;
    width: 100%;
}

.hero-title{
    color: var(--accent);
    font-weight: 400;
}

.hero-img-container{
    height: 30rem;
    width: 20rem;
    position: relative;
}
.hero-block-blue{
    background-color: var(--secondary);
    height: 50%;
}
.hero-block-red {
    background-color: var(--primary);
    height: 50%;
}

.hero-img{
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem;
    height: 100%;
}

.hero-button {
    background: conic-gradient(from 180deg at 50.26% 49.28%, #E11A39 120.00000357627869deg, #5E33A1 324.3750071525574deg);
}