:root {
    --text: #020302;
    --text-light: #f4f4f4;
    --background: #f9fbf9;
    --primary: #e11937;
    --secondary: #5136ab;
    --accent: #200a57;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/*Nabvar*/

.logo {
    color: var(--primary);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

    .logo:hover {
        color: var(--primary);
    }

.navbar-nav {
    padding: .15rem;
    margin-left: 2rem;
}


.nav-link {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    margin: .5rem 0 0 .75rem;
}

.lang-control {
    margin-right: 5rem;
}

    .lang-control button {
        border: none;
        outline: none;
        background: none;
    }

.lang-dropdown {
    max-width: 1rem !important;
    width: 1rem !important;
}

.dropdown-item {
    width: 10px;
}

.flag-icon {
    width: 1.5rem;
}

/*Hero*/

.hero {
    width: 100%;
}

.hero-title {
    color: var(--accent);
    font-weight: 400;
}

.hero-img-container {
    height: 30rem;
    width: 20rem;
    position: relative;
}

.hero-block-blue {
    background-color: var(--secondary);
    height: 50%;
}

.hero-block-red {
    background-color: var(--primary);
    height: 50%;
}

.hero-img {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem;
    margin: auto;
    height: 100%;
}


.hero-button {
    background: conic-gradient(from 180deg at 50.26% 49.28%, #E11A39 120.00000357627869deg, #5E33A1 324.3750071525574deg);
}

/*Recent Excursions*/

.recent{
    background-color: var(--secondary)
}

.recent-title{
    color: var(--text-light);
}

.blur {
    backdrop-filter: blur(3px) saturate(90%);
    
}
/*Footer*/

.footer-lightgray {
    background-color: #D9D9D9;
}

.footer-darkgray {
    background-color: #CECECE;
}




@media (max-width: 992px) {
    .hero-title {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
    .hero-title {
        font-size: 1.5rem;
    }
}
