:root {
    --text: #020302;
    --text-light: #f4f4f4;
    --background: #f9fbf9;
    --primary: #e11937;
    --secondary: #5136ab;
    --accent: #200a57;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

/*Nabvar*/

.logo {
    color: var(--primary);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}

    .logo:hover {
        color: var(--primary);
    }

.navbar-nav {
    padding: .15rem;
    margin-left: 2rem;
}


.nav-link {
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 500;
    margin: .5rem 0 0 .75rem;
}

.lang-control {
    margin-right: 5rem;
    
}

    .lang-control button {
        border: none;
        outline: none;
        background: none;
    }

.lang-dropdown {
    max-width: 1rem !important;
    width: 1rem !important;
}

.dropdown-item {
    width: 10px;
}

.flag-icon {
    width: auto;
    height: 1.5rem;
    vertical-align: middle;

}

.avatar {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgba(81,54,171,0.3)
  }


/*Hero*/

.hero {
    width: 100%;
}

.hero-title {
    color: var(--accent);
    font-weight: 400;
}

.hero-img-container {
    height: 30rem;
    width: 20rem;
    position: relative;
}

.hero-block-blue {
    background-color: var(--secondary);
    height: 50%;
}

.hero-block-red {
    background-color: var(--primary);
    height: 50%;
}

.hero-img {
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    padding: .5rem;
    margin: auto;
    height: 100%;
}


.hero-button {
    background: conic-gradient(from 180deg at 50.26% 49.28%, #E11A39 120.00000357627869deg, #5E33A1 324.3750071525574deg);
}

#hero-tag{
    text-decoration: none;
    list-style: none;
    color: var(--text-light);
}

    
/*Recent Excursions*/

.recent{
    background-color: var(--secondary)
}

.recent-title{
    color: var(--text-light);
}

.blur {
    backdrop-filter: blur(3px) saturate(90%);
    
}
/*Footer*/

.footer-lightgray {
    background-color: #D9D9D9;
}

.footer-darkgray {
    background-color: #CECECE;
}




@media (max-width: 992px) {
    .hero-title {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    /* Adjust the column width for smaller screens */
    .col-md-4 {
        flex: 0 0 33.33333%; /* Each column takes up 1/3 of the container */
        max-width: 33.33333%;
    }

    /* Adjust the margin and padding to give charts some breathing room */
    .bar-container {
        margin-left: 10px;
        margin-right: 10px;
    }

    /* Optionally, adjust the height of the charts for smaller screens if needed */
    .bar-container {
        height: 200px; /* Example value, adjust as necessary */
    }

    .top-section {
        flex-direction: column;
        align-items: center;
    }

    .profile-image {
        display:none;
    }

    .profile-details {
        align-items: center; /* Center the details for mobile view */
        text-align: center;
    }

    .profile-details h3, .profile-details p, .profile-details h4 {
         /* Adjust font size and margins if necessary for a more compact layout */
         font-size: 0.9em;
         margin: 4px 0;
    }

    .pagination {
        flex-wrap: wrap; /* Allow pagination items to wrap in small screens */
    }
}

@media (max-width: 576px) {
    .hero-title {
        font-size: 1.5rem;
    }
}


.bar-one .progress-bar {
    background-color: var(--primary) !important;
}

.bar-two .progress-bar {
    background-color: var(--secondary) !important;
}

.bar-three .progress-bar {
    background-color: var(--accent) !important;
}

/* Row colors */
table tbody tr:nth-child(odd) {
    background-color: rgba(225,25,55,0.5);
}

table tbody tr:nth-child(even) {
    background-color: rgba(81,54,171,0.5);
}

/* Styling for the name of the chart bars */
.chart-name {
    font-weight: bold; /* Making the text bold */
    margin-bottom: 10px; /* Spacing between the name and the bar */
}

/* Style for the bar container */
.bar-container {
    position: relative;
}

/* Basic styling for the bar charts */
.progress {
    background-color: #f5f5f5; /* Light gray background */
}

/* Style for the score within the bar chart */
.progress-bar {
    color: white; /* Text color */
    font-weight: bold; /* Bold text */
}

/* Overlay styling for the score within the bar chart */
.score-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    color: white; /* Text color */
    font-weight: bold; /* Bold text */
    pointer-events: none; /* Ensures it doesn't interfere with click events */
}


.subtitle {
    color: #666;
    font-weight: 300
}

input, textarea {
    width: 30rem;
    border-radius: 15px;
    background-color: #F5F5F5;
    border-color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    padding: 15px 25px;
    font-weight: 400;
    margin: 15px
}

.addfieldbtn {
    background-color: #C3FFB4;
    border-radius: 5px;
    padding: 0 9px 3px;
    border: none;
    font-weight: 900;
    font-size: 28px;
}

.removefieldbtn {
    background-color: #9C9C9C;
    border-radius: 5px;
    padding: 0 13px 3px;
    border: none;
    font-weight: 900;
    font-size: 28px;
}


.backgroundbar {
    position: fixed;
    top: 0;
    left: 68.5rem;
    height: 100vh;
    width: 5rem;
    background: linear-gradient(to bottom, #E11937, #5236AB);
    opacity: 0.4;
    z-index: -1
}

@media (max-width: 40rem) {
    input, textarea {
        width: 90%;
    }
}
