<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
    <div class="container-fluid">
        <a class="logo" asp-area="" asp-controller="Home" asp-action="Index">Talpa</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Suggest">Suggest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Vote">Vote</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Leaderboard">Leaderboard</a>
                </li>
            </ul>

            <!-- Example split danger button -->
            <div class="btn-group lang-control">
                <button type="button" class="lang-control-button">Action</button>
                <button type="button" class="dropdown-toggle dropdown-toggle-split lang-control-split" data-bs-toggle="dropdown" aria-expanded="false">
                    <span class="visually-hidden">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
            </div>


        </div>
    </div>
</nav>