@page
@model CGI_Project_WebApp.Pages.PhotoAlbum.ShowPhotosModel
@{
}

<link rel="stylesheet" href="~/css/photoalbum.css" />

<div class="container my-5">
    <div class="row">
        @foreach (var item in Model.photoAlbumService.TryGetPhotos())
        {
            <div class="col-md-4 mb-4">
                <div class="gallery-item">
                    <img src="~/PhotoAlbum/@item.FileName" alt="@item.Description" class="img-fluid gallery-image">
                    <div class="gallery-caption">
                        <h5>@item.Description</h5>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
