@page
@model CGI_Project_WebApp.Pages.PhotoAlbum.ShowPhotosModel
@{
    ViewData["Title"] = @stringLocalizer["ShowPhotoNav"];
}
@using Microsoft.AspNetCore.Mvc.Localization;
@using Microsoft.Extensions.Localization;
@inject IStringLocalizer<IndexModel> stringLocalizer;

<link rel="stylesheet" href="~/css/photoalbum.css" />
<script src="~/js/photoPagination.js" defer></script>

<div class="container my-5">
    <div class="row" id="photoContainer">
        @foreach (var item in Model.photoAlbumService.TryGetPhotos())
        {
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 mb-4 photo-item">
                <div class="gallery-item">
                    <img src="~/PhotoAlbum/@item.FileName" alt="@item.Description" class="img-fluid gallery-image">
                    <div class="gallery-caption">
                        <h5>@item.Description</h5>
                    </div>
                </div>
            </div>
        }
    </div>

    <div class="pagination">
        <!-- Pagination controls will be dynamically inserted here -->
    </div>
</div>
