@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="hero">
    <div class="container w-100 m-0 mx-auto">
        <div class="row align-items-center py-5 hero-content">
            <div class="w-50 text-center text-lg-start mx-auto mb-5">
                <h1 class="display-6 lh-1 mb-3 hero-title">Unlock Team Adventures: Building Bonds, One Excursion at a Time. Discover, Bond, and Thrive with Every Corporate Expedition!</h1>
                <p class="col-lg-10 fs-5 text-black-50 mt-5">See what's new at your company</p>
                <div class="d-grid gap-2  col-md-3">
                    <button class="btn btn-primary border-0 text-white fs-6 fw-bold hero-button" type="button">Discover</button>
                </div>
            </div>
            <div class="col-md-5 mx-auto col-lg-5 hero-img-container p-0">
                <div class="row m-0 hero-block-blue"></div>
                <div class="row m-0 hero-block-red"></div>
                <img src="/assets/hero-img.png" class="img-fluid hero-img" alt="Hero Image" />
            </div>
        </div>
    </div>
</div>

<div class=" m-0 p-5 recent">
        <h2 class=" p-3 mx-5 text-center text-lg-start recent-title">Recent Excursions</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch mx-5 g-4 py-5">
        <div class="col">
            <div class="lc-block card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" lc-helper="background" style="background-image: url('https://images.unsplash.com/photo-1507499739999-097706ad8914?crop=entropy&amp;cs=tinysrgb&amp;fit=crop&amp;fm=jpg&amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8MTB8fHNwYWNlfGVufDB8MXx8fDE2MjE4NDQ2MTY&amp;ixlib=rb-1.2.1&amp;q=80&amp;w=1080&amp;h=768'); background-size:cover">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <div class="lc-block pt-5 mt-5 mb-4">
                        <div editable="rich">
                            <h2 class="display-6 lh-1 fw-bold">Short title, long jacket</h2>
                            <p>Quickly design and customize responsive mobile-first sites with Bootstrap.</p>
                        </div>
                    </div>
                    <ul class="lc-block d-flex list-unstyled mt-auto ms-auto"><li><a class="btn btn-link btn-sm text-white " href="#" role="button">Read more</a></li></ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="lc-block card card-cover h-100 overflow-hidden text-white bg-dark shadow-lg" lc-helper="background" style="background:url(https://images.unsplash.com/photo-1444910958049-f45a1ac7ace5?crop=entropy&amp;amp;cs=tinysrgb&amp;amp;fit=crop&amp;amp;fm=jpg&amp;amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8MTA2fHxmbG93ZXJzfGVufDB8MHx8fDE2MjE1MDQwMjg&amp;amp;ixlib=rb-1.2.1&amp;amp;q=80&amp;amp;w=1080&amp;amp;h=76)  center / cover no-repeat;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <div class="lc-block pt-5 mt-5 mb-4">
                        <div editable="rich">
                            <h2 class="display-6 lh-1 fw-bold">Much longer title that wraps to multiple lines</h2>
                            <p>Quickly design and customize responsive mobile-first sites with Bootstrap.</p>
                        </div>
                    </div>
                    <ul class="lc-block d-flex list-unstyled mt-auto ms-auto"><li><a class="btn btn-link btn-sm text-white " href="#" role="button">Read more</a></li></ul>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="lc-block card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" lc-helper="background" style="background:url(https://images.unsplash.com/photo-1580133748682-099a97d17e6c?crop=entropy&amp;amp;cs=tinysrgb&amp;amp;fit=crop&amp;amp;fm=jpg&amp;amp;ixid=MnwzNzg0fDB8MXxzZWFyY2h8MTV8fGplbGx5JTIwZmlzaHxlbnwwfDB8fHwxNjIxNTA0MDU1&amp;amp;ixlib=rb-1.2.1&amp;amp;q=80&amp;amp;w=1080&amp;amp;h=768)  center / cover no-repeat;">
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <div class="lc-block pt-5 mt-5 mb-4">
                        <div editable="rich">
                            <h2 class="display-6 lh-1 fw-bold">Another longer title belongs here</h2>
                            <p>Quickly design and customize responsive mobile-first sites with Bootstrap.</p>
                        </div>
                    </div>
                    <ul class="lc-block d-flex list-unstyled mt-auto ms-auto"><li><a class="btn btn-link btn-sm text-white " href="#" role="button">Read more</a></li></ul>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="/js/navigationjs.js">

</script>
